button {
    appearance:auto ;
    font-style:normal ;
    font-variant-ligatures:common-ligatures ;
    font-variant-caps:normal ;
    font-variant-numeric:ordinal ;
    font-variant-east-asian:normal ;
    font-variant-alternates:normal ;
    font-variant-position:normal ;
    font-weight:normal ;
    font-stretch:normal ;
    font-size:12px ;
    font-family: "Roboto Thin", sans-serif ;
    font-optical-sizing:none ;
    font-size-adjust:none ;
    font-kerning:normal ;
    font-feature-settings:normal ;
    font-variation-settings:normal ;
    text-rendering: auto;
    color:buttontext ;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}