body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#main_title {
    color: #333;
    font-size: 2.5rem;
}

#words {
    margin: 20px 0;
    font-size: 1.5rem;
    color: #bbb;
}

.correct {
    color: green; /* Mot correct en vert */
}

.incorrect {
    color: red; /* Mot incorrect en rouge */
}

.current-word {
    color: black; /* Mot en cours de saisie en noir */
    background-color: #959595;
}



#user_input {
    font-size: 1.2rem;
    padding: 10px;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#wpm_result {
    margin-top: 20px;
    font-size: 1.3rem;
    color: #007bff;
}

#wpm_result {
    font-size: 1.2rem; /* Police normale pour le texte */
    color: #333;
    display: none;
}

#wpm_number {
    font-size: 2.5rem; /* Plus grande police pour le nombre */
    color: #007bff; /* Couleur pour le nombre */
    display: block; /* Force le nombre à être sur sa propre ligne */
    margin-top: 10px; /* Espacement au-dessus du nombre */
}